github "bitmark-inc/tweetnacl-swiftwrap"
github "kishikawakatsumi/KeychainAccess"
github "centrifugal/centrifuge-swift"
github "daltoniam/Starscream" ~> 3.0
github "apple/swift-protobuf" ~> 1.0
github "ReactiveX/RxSwift" ~> 5.0
